{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function hideEU(){
        $("#EU").fadeOut( 500, function() {});
        $("#US").delay(500).fadeIn( 500, function() {});
    }

    function hideUS(){
        $("#US").fadeOut( 500, function() {});
        $("#EU").delay(500).fadeIn( 500, function() {});
    }
</script>
{% endblock %}

{% block content %}
<main id="top">
    <div>&nbsp;</div>
    <h1>Welcome to Basic USA - EU CALCULATOR</h1>
    <h2>Yes, we know that's not only usa measurement etc. :)</h2>
    <div id="button-space">
        <input type="button" onclick="document.getElementById('bottom').scrollIntoView()" value="LET'S GO"/>
    </div>
</main>
<main id="bottom">
    <div>&nbsp;</div>
    <form method="post" id="EU">
        <h3>From EU To US</h3>
        <!--STEP 5-->
        <p class="inputs">Kilometers: <input type="text" value="0" name="kilometer"/></p>
        <p class="inputs">Meters: <input type="text" value="0"  name="meter"/></p>
        <p class="inputs">Celsius: <input type="text" value="0"  name="celsius"/></p>
        <p class="inputs">Kilogram: <input type="text" value="0"  name="kilogram"/></p>
        <br/>
        <button>SUBMIT</button>
        <input type="button" class="switch" onclick="hideEU()" value="&#x267B;"/>
        </method>
    </form>
    <form method="post" id="US" style="display: none;">
        <h3>From US To EU</h3>
        <!--STEP 6-->
        <p class="inputs">Miles: <input type="text" value="0" name="mile"/></p>
        <p class="inputs">feets: <input type="text" value="0"  name="feet"/></p>
        <p class="inputs">Fahrenheit: <input type="text" value="0"  name="fahrenheit"/></p>
        <p class="inputs">Funt: <input type="text" value="0" name="funt"/></p>
        <br/>
        <button>SUBMIT</button>
        <input type="button" class="switch" onclick="hideUS()"" value="&#x267B;"/>
    </form>
</main>
{% endblock %}